{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div id="header">
        <h1 class="title">Crowd tangle API</h1>
            Hi, Click here to get the latest from the crowdtangle Posts API!
            <form id="api-form" action="{% url 'hit_api' %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="submit" value="Get API Update" style="background-color:lightblue">
            </form>
    <h2>The currently stored data:</h2>
        <table class="data" cellpadding="1" cellspacing="2" border="3">

            <tr>
                <td>Delete</td><td>ID</td><td>Platform</td><td>date</td><td>Type</td>
                <td>Message</td>
            </tr>
            {% for row in data %}
                <tr id="table-row-{{ row.id }}">
                    <td>
                        <a href="/delete_item/" id="{{ row.id }}" class="delete_item">delete</a>
                    </td>
                    <td>
                        {{ row.api_id }}
                    </td>
                    <td>
                        {{ row.platform }}
                    </td>
                    <td>
                        {{ row.date }}
                    </td>
                    <td>
                        {{ row.type }}
                    </td>
                    <td>
                        {{ row.message }}<a href={{ row.link }}>{{ row.link }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'static/js/api-request.js' %}"></script>
{% endblock %}




